# Trigger pipeline run 2
name: LLMOps CI Pipeline_Benny_run3

on:
  push:
    branches: ["main"]
  pull_request:

env:
  REGISTRY: docker.io
  IMAGE_NAME_LC: bennygoh22/llmops-e2e
  IMAGE_TAG: ${{ github.sha }}

jobs:

  build:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Convert repository name to lowercase for Docker
      - name: Set lowercase image name
        run: echo "IMAGE_NAME_LC=${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t $REGISTRY/${IMAGE_NAME_LC}:${IMAGE_TAG} .

      - name: Push Docker image
        run: |
          docker push $REGISTRY/${IMAGE_NAME_LC}:${IMAGE_TAG}


  security-scan:
    name: Security Scan with Trivy
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      #
